#estilos-link {
    
    color: white;
}

.bi-twitter:hover{
    color: #00acee;
}
.bi-facebook:hover{
    color: #3b5998
}

.bi-instagram:hover{
    color: violet;
}
.bi-spotify:hover{
    color: #1DB954;
}
.btn-light:hover{
    background-color: white !important;
    color: black !important;
   
}

.btn-dark:hover{
    background-color: brown !important;
    color: white !important;
}

.bi-whatsapp:hover{
    color: #25D366 !important;
}
