.navbar-expand-lg{
    background: linear-gradient(90deg, rgba(0,0,0,1) 38%, rgba(121,9,9,1) 98%);
}


.nav-link{
    color: white !important;

}

.btn-dark{
    border: solid white !important;
}

.navbar-toggler{
    border-color: white !important;
}